---
layout: layouts/print.njk
title: Resume PDF
permalink: /resume/print/index.html
---
<main class="resume-print">
  {% include "partials/resume-basics.njk" %}
  {% include "partials/resume-work.njk" %}
  {% include "partials/resume-sidebars.njk" %}
</main>
